body {
  font-family: 'Inter', sans-serif;
  overscroll-behavior: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  padding: 0;
  margin: 0;
}

#webapp {
  background: var(--bg_color);
  color: var(--text_color);
  min-height: 100vh;
}

.btn {
  background: var(--button_color);
  color: var(--button_text_color);
}
